/* Desktop style */

@media only screen and (min-width: 1024px) {
  body {
    margin-top:25vh;
  }
  nav {
      background-color: #4056A1;
  }
}

span {
  font-family: 'Bungee', cursive;
  font-size: 40px;
}

.nav-div {
  display:flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

.inline {
  display: block;
}

.fa-solid {
  color:red;
  display: flex;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;
}

 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: #FFFFFF;
  padding-left: 2em ;
  padding-right: 2em;
  width: 100%;
  top: 0;
  position: fixed;
}

.fa-angles-down {
  position: absolute;
  animation: do 1.5s none ease-in-out infinite;
  padding-top:3vh;
}

@keyframes do {
  0%{top:10%}
  25%{top: 20%}
  50%{top: 15%}
  75%{top: 20%}
  100%{top: 10%}
}