.tweet-section {
  padding: 2%;
  border: 4px #57544d solid;
  margin-bottom:8vh;
}

.posted-tweet >:hover {
  box-shadow: 10px 10px #c9cae2;
}

.name {
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
}

.handle {
  font-weight: 700;
  color:#c8cde4;
}

.message {
  display: block;
  border-bottom: 4px #57544d solid;
  padding-left: 2%;
  font-weight: 700;
  overflow-wrap: break-word;
  line-height: 1.5em;
  padding-bottom: 1em;
}

.tweet-details {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 0.7em;
  margin-top: -1%;
}

.icons {
  display: flex;
  flex-direction: row;
}

.tweet-details  i {
  display: flex;
  justify-content: space-around;
  color:#4056A1;
}

.tweet-details i:hover {
  color:orange;
}

.username {
  display: flex;
  align-items: center;
}

.error-show {
  display:none;
  border: 4px solid red;
  color:red;
  padding: 1.5vw;
  margin-bottom:5vh;
  text-align:center;
}